<%= form_for @url, remote: true do |f| %>
  <div class="row">
    <%= f.text_field :full_address, class:"col-sm-10 url-input-field", placeholder: "Type your looooooong url here" %>
    <%= f.submit "Shorten", class:"btn btn-primary btn-lg col-sm-2" %>
  </div>
<% end %>

<div id="error-msg"></div>
