<div id="error-msg"></div>

<%= simple_form_for @url, remote: true do |f| %>
  <div class="row">
    <div class="col-sm-8">
      <%= f.input :full_address, label: false, placeholder: "Type your looooooong url here", value: "", input_html: { class: "url-field" } %>
    </div>
    <div class="col-sm-4">
      <%= f.button :submit, "shorten", class: "url-shorten-btn" %>
    </div>
  </div>
<% end %>
