<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>

<header>
  <h1 class="text-center">shorter<span>U</span></h1>
  <p class="text-center">A url shortener to shorten urls!</p>
</header>

<%= render partial: "form" %>
<%= render partial: "shortlink_container" %>
