<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <ul><%= image_tag "brand.png", size: "70x70", class: "navbar-left" %></ul>
      <ul><h2 class="navbar-text navbar-right brand-title">Nat.Ly</h2></ul>
  </div>
</nav>

<%= render "form" %>
<%= render "shortlink_container" %>
<%= render "top_urls" %>
