body
  padding-top: 20px
  padding-bottom: 20px
  font-size: 16px
  line-height: 1.42857143
  background-image: image-url('darker-mango.jpg')
  padding-top: 20em

  navbar
    background-color: #F3F4FB

    .brand-title
      font-size: 3em

  .new_url
    opacity: .7
    margin-top: 1em
    margin-bottom: 1em
    color: #4561F1

  #error-msg
    color: #F6BEB1
    display: none
    margin: 1em

  .short-link
    background-color: #ffffff
    padding: 1em
    display: none
    color: #4561F1
    opacity: .7
    font-size: .8em

  .top-urls
    color: #A7B4F5
