body
  padding-top: 20px
  padding-bottom: 20px
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 16px
  line-height: 1.42857143
  color: #333
  background-color: #fff
  background-image: image-url('mango-hero.jpg')

  .jumbotron #url-form
    padding-top: 2em

    .url-input-field
      padding: 1em

    .btn
      line-height: 2em
      font-size: inherit
